<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            body{
                background-color: black;
            }
        </style>
    </head>
    <body>
        <center>
            <div style='background-color: #d8d7d7; border-radius: 10px; border: 1px solid black; width: max-content;padding: 40px'>
                <h1>awww yes members only</h1>
                <a href="/">back 2 home</a>
            </div>
        </center>
    </body>
</html>
